.clear {
    clear: both;
}
/* header styling */
.logo {
    float: left;
    
}
.navigation {
    float: left;
    padding: 28px 0 0 108px;
}
.nav-li {
    float: left;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #181C28;
}
.header-wrapper {
    padding: 25px 0 25px 140px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}
body {
    height: 2000px;
}
/* banner styling */
.banner {
    margin-top: 126px;
    z-index: 1;
}
.top-banner {
    position: relative;
    width: 1600px;
}
.banner-description {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 111px;
    left: 665px;
}
.banner-title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 147px;
    left: 697px;
}
.banner-image {
    width: 100%;
}