.clear {
    clear: both;
}
/* header styling */
.logo {
    float: left;
    
}
.navigation {
    float: left;
    padding: 28px 0 0 108px;
}
.nav-li {
    float: left;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #181C28;
}
.header-wrapper {
    padding: 25px 0 25px 140px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
}

/* banner styling */
.top-banner {
    position: relative;
    width: 1600px;
    margin: 126px auto 0;
    z-index: 1;
}
.banner-description {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 111px;
    left: 665px;
}
.banner-title {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 147px;
    left: 697px;
}
.banner-image {
    width: 1600px;
}
/* Popular Post */
.container {
    width: 1325px;
    margin: 90px auto 272px;
}
.popular-post {
    color: #FF7A00;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
.left-image-box {
    float: left;
}
.right-image-box {
    float: right;
}
.image-box-title {
    width: 600px;
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    margin: 31px 0 23px;
}
.image-box-text {
    width: 636px;
    font-size: 16px;
    color: #7B7B7B;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 17px;
}
.read-more {
    font-size: 14px;
    color: #FF7A00;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 59px;
}
.image-wrapper1 {
    margin-top: 84px;
}
.load-more{
    margin: 0 0 134px 568px;
    font-size: 16px;
    color: white;
    background-color: #FF7A00;
    font-family: 'Poppins', sans-serif;
    margin-top: 1470px;
    width: 190px;
    height: 70px;
    padding: 28px 0 0 45px;
}
.empty-box {
    width: auto;
    height: 266px;
    background-color: #181C28;
}
/* footer styling */
.footer-wrapper {
    width: 1325px;
    margin: 89px auto 207px;
}
.footer-box1 {
    float: left;
    margin-right: 202px;
}
.footer-box2 {
    float: left;
    margin-right: 235px;
}
.footer-box3 {
    float: left;
    margin-right: 199px;
}
.footer-box4 {
    float: right;
}
.footer-box-title {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #282828;
    margin-bottom: 22px;
}
.payment {
    float: right;
}
.footer-li {
    margin-bottom: 22px;
    font-family: 'Poppins', sans-serif;
    color: #7B7B7B;
}
.payment-image {
    width: 54px;
    height: 34px;
}
.copyright {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #A4A4A4;
    float: right;
}